asgiref
astroid
asttokens
backcall
blessed
cement
certifi
charset-normalizer
colorama
decorator
dill
distlib
Django
executing
git-remote-codecommit
idna
ipython
isort
jedi
jmespath
lazy-object-proxy
matplotlib-inline
mccabe
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
ptyprocess
pure-eval
Pygments
pylint
pylint-django
pylint-plugin-utils
python-dateutil
pytz
PyYAML
requests
semantic-version
six
sqlparse
stack-data
termcolor
tomli
tomlkit
traitlets
typing-extensions
urllib3
virtualenv
wcwidth
wrapt
